<ul class="video-list">
  <video-list-entry ng-repeat='video in videos'></video-list-entry>
<!--   <div ng-repeat="video in videos"><video-list-entry><h5><em>{video}</em></h5></video-list-entry></div> -->
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry ><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
</ul>

<!-- <div ng-repeat="video in videos"> ... </div> -->